
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Bebas Neue, sans-serif;
}

/* Flex container for header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 2em;
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 1em;

}

.header-container p {
  color: white;
  font-size: 2.5em;
  letter-spacing: 0.2em;
}

.logo {
  width: 9.375em;
  height: auto;
  display: inline-block;
}

nav ul {
  font-size: 1.75em;
  display: flex;
  list-style: none;
  gap: 2em;
}

nav ul li {
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.2);
}