
html {
  font-size: 16px;
}

a {
  text-decoration: none;  
  color: black;           
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Bebas Neue, sans-serif;
  margin-bottom: 30em;
}

/* Flex container for header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 2em;
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 1em;

}

.header-container p {
  color: white;
  font-size: 2.5em;
  letter-spacing: 0.2em;
}

.logo {
  width: 9.375em;
  height: auto;
  display: inline-block;
  background-color: transparent;
}

nav ul {
  font-size: 1.75em;
  display: flex;
  list-style: none;
  gap: 2em;
}

nav ul li {
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.2);
}


/* Hero Section */
.hero {
  position: relative;
  height: 100vh; /* full screen */
  background: url("IMG_3545.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero-overlay {
  position: absolute;
  inset: 0; 
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text content */
.hero-content {
  color: white;
  max-width: 800px;
  padding: 2em;
}

.hero-content h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

.hero-content h1 {
  font-size: 3em;
  line-height: 1.2;
  margin: 0.5em 0;
}

.hero-content h1 span {
  color: red; 
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.hero-content p {
  font-size: 1.2em;
  margin: 1em 0;
  color: #ffffff;
}

/* Button */
.hero-btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  font-size: 1.2em;
  background: white;
  color: black;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.hero-btn:hover {
  background: red;
  color: white;
  transform: scale(1.1);
}

/* Section 1 */

.section1 {
  margin: 20em 0 20em 0;
}

.section1 img {
  width: 40%;
  height: 40%;
}

/* Section 2 */
.section2 {
  position: relative;
  height: 50vh; /* full screen */
  background: url("cider mill.jpg") center/cover no-repeat;
  padding-bottom: 40em;
}

